@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Inter', sans-serif;
  --font-geist-mono: 'Fira Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0E1A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 2s step-start infinite;
}